apiVersion: apps/v1
kind: Deployment
metadata:
  name: biometric-app
spec:
  replicas: 2
  selector:
    matchLabels:
      app: biometric-app
  template:
    metadata:
      labels:
        app: biometric-app
    spec:
      containers:
      - name: biometric-processor
        image: busybox:latest
        command: ["/bin/sh", "-c", "echo 'Starting biometric processor...' && env && sleep 3600"]
        env:
        - name: ALGORITHM_VERSION
          valueFrom:
            configMapKeyRef:
              name: biometric-app-config
              key: algorithm_version
        - name: PROCESSING_THREADS
          valueFrom:
            configMapKeyRef:
              name: biometric-app-config
              key: processing_threads
        - name: ENCRYPTION_KEY
          valueFrom:
            secretKeyRef:
              name: biometric-data-secret
              key: encryption_key