version: '3.8'
services:
  db:
    image: postgres:13-alpine
    environment:
      POSTGRES_USER: example
      POSTGRES_PASSWORD: example
      POSTGRES_DB: example
    ports:
      - "5432:5432"

  web:
    build: ./webapp
    ports:
      - "8000:5000"
    depends_on:
      - db
    environment:
       DATABASE_URL: postgresql://example:example@db:5432/example